@font-face {
  font-family: "Chalisa Octavia";
  src: url("./assets/ChalisaOctavia.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

.App {
  text-align: center;
  font-family: "Great Vibes";
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 300ms;
}

button {
  border: none;
}


/* SCROLLBAR */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2); 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4); 
}